body {
    background-color: #0079BF; 
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif

}

.App {
    display: flex;
}

.column {
    text-align: center;
    background-color: #dfe3e6;
    margin: 5px;
    border-radius: 5px;
}
.column>h1 {
    text-align: left;
    font-size: 1em;
    margin: 10px 20px;
}

.card {
    text-align: left;
    background-color:#fff;
    margin: 5px;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .App {
        flex-direction: column;
    }
} 